---
// Accenture-style sliding arrow for ghost / tertiary buttons.
// Drop inside <a class="btn btn--ghost">Label <ArrowTrack /></a>
---
<span class="btn__arrow-track" aria-hidden="true">
  <span class="btn__arrow-inner">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 9h11.5M10 4.5L14.5 9 10 13.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 9h11.5M10 4.5L14.5 9 10 13.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </span>
</span>
